/* app/cases/deadline-panic/styles.css */

body {
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.font-mono {
  font-family: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

/* liten reset för caset */
.dp-scroll {
  scrollbar-width: thin;
}

.dp-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.dp-scroll::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.7);
  border-radius: 9999px;
}

.dp-scroll::-webkit-scrollbar-track {
  background: transparent;
}
